.container-login {
  min-height: 100vh;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.login-form-title {
    font-family: Ubuntu-Bold;
    font-size: 1.8em;
    text-transform: uppercase;
    color: #403866;
    line-height: 1.2;
    width: 100%;
    text-align: center;
    display: block;
}

.wrap-login {
    width: 390px;
}

.form-login {
    display: flex;
    flex-direction: column;
}

.wrap-input {
    width: 100%;
}
