<div class="container-login">
  <div class="wrap-login">
    <span class="login-form-title">Login</span>
    <form
      class="form-login"
      [formGroup]="loginForm"
      (ngSubmit)="authenticate()"
    >
      <div class="wrap-input">
        <input
          class="input form-item"
          type="text"
          formControlName="username"
          placeholder="Username"
        />
        <span class="focus-input"></span>
      </div>
      <div class="wrap-input">
        <input
          class="input form-item"
          type="password"
          formControlName="password"
          placeholder="Password"
        />
        <span class="focus-input"></span>
      </div>
      <button class="login-button form-item" type="submit">Sign In</button>
    </form>
  </div>
</div>
